*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}
/*头部*/
.header{
	background-color: white;
}
.userInfoCon{
	background-color: #f2f2f2;
	overflow: hidden;
}
.userInfoCon>ul{
	width: 1200px;
	margin: auto;
	overflow: hidden;
}
.userInfoCon>ul>div{
	float: left;
}
.userInfoCon>ul>div>i{
	float: left;
	width: 21px;
	height: 20px;
	margin-top: 7px;
	margin-left: 23px;
	background:url(../img/pic_03.jpg) center no-repeat;
}
.userInfoCon>ul>div>a{
	float: right;
	font-family: "微软雅黑";
	line-height: 35px;
	font-size: 12px;
	color: #333;
}
.userInfoCon>ul>ol{
	float: right;
}
.userInfoCon>ul>ol>li{
	float: left;
	line-height: 35px;
}
.userInfoCon>ul>ol>i{
	width: 21px;
	height: 20px;
	float: left;
	margin: 7px 5px 0 0;
}
.userInfoCon>ul>ol>b{
	float: left;
	width: 1px;
	height: 14px;
	margin: 10px 12px 0 12px;
	background-color: #dfdfdf;
}
.userInfoCon>ul>ol>li>a{
	float: left;
	font-size: 12px;
	color: #333333;
	font-family: "微软雅黑";
}
.userInfoCon>ul>ol>li>span{
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 12px;
	margin-left: 5px;
	background: url(../img/pic_12.jpg) center no-repeat;
}
.searchCon{
	width: 1200px;
	margin: auto;
	overflow: hidden;
}
.searchCon>div{
	width: 131px;
	height: 44px;
	margin-top: 21px;
	float: left;
}
/*注册框*/
.regsCon{
	width: 100%;
	height: 800px;
	margin-top: 10px;
	background: url(../img/regis.jpg);
	background-repeat: no-repeat;
	padding-top: 80px;
}
.body{
	width: 600px;
	height: 600px;
	/*float: left;*/
	background-color: rgba(255,255,255,0.8);
	margin: auto;
	/*margin-left: 651px;*/
}
.total{
	width: 120px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 26px;
	font-weight: 500;
	margin-left: 240px;
	margin-top: 30px;
	float: left;
	margin-bottom: 10px;
}
.textcon{
	height: 32px;
	width: 280px;
	border: 1px solid #999999;
	margin-left: 158px;
	float: left;
	background-color: rgba(255,255,255,0.8);
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.textcon2{
	height: 32px;
	width: 160px;
	border: 1px solid #999999;
	margin-left: 158px;
	float: left;
	background-color: rgba(255,255,255,0.8);
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.body>h1{
	float:right;
	font-size: 14px;
	height: 20px;
	width: 130px;
	margin-top: 27px;
	margin-right: 15px;
    color: crimson;
}
.ck{
	height: 34px;
	width: 110px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	color: #666666;
	cursor:pointer;
}
.regis{
	height: 38px;
	width: 282px;
	float: left;
	margin-left: 158px;
	margin-top: 40px;
	background-color: #FE5677;
	border: solid 1px #999999;
	color: white;
	border-radius: 3px;
	font-family: "微软雅黑";
	font-size: 16px;
	cursor:pointer;
}
.relog{
	height: 38px;
	width: 282px;
	float: left;
	margin-left: 158px;
	margin-top: 20px;
	background-color: white;
	border: solid 1px #999999;
	color: #333333;
	border-radius: 3px;
	font-family: "微软雅黑";
	font-size: 16px;
	cursor:pointer;
}

/*尾部*/
.footer{
	/*尾部*/
	width: 1200px;
	margin: auto;
	margin-top: 50px;
}
.footer1{
	width: 1200px;
	height: 65px;
	overflow: hidden;
}
.footer1>ul{
	width: 164px;
	height: 65px;
	float: left;
	margin-left: 6px;
	margin-right: 130px;
}
.footer1>ul>h1{
	width: 164px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.footer1>ul>p{
	width: 164px;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 20px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666666;
}
.footer2{
	width: 1200px;
	height: 2px;
	background-color: #ff5776;
	margin: auto;
	margin-top: 30px;
}
.footer3{
	width: 1200px;
	height: 38px;
	margin: auto;
}
.footer3>ul{
	width: 1200px;
	height: 37px;
	overflow: hidden;
}
.footer3>ul>a{
	line-height: 37px;
	font-family: "微软雅黑";
	font-size: 12px;
	float: left;
	margin-right: 10px;
	color: #333333;
}
.footer3>ul>b{
	width: 1px;
	height: 12px;
    background-color: #333333;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
}
.footer3>ol{
	width: 1200px;
	height: 1px;
	background-color: #666666;
}
.footer4{
	width: 1200px;
	height: 34px;
	margin-top: 3px;
}
.footer4>a{
	line-height: 34px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #333333;
	margin-right: 32px;
	float: left;
}
.footer4>b{
	line-height: 34px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #333333;
	margin-right: 10px;
	float: left;
}
.footer4>h1{
	line-height: 34px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
	float: left;
}
.footer5{
	width: 1200px;
	height: 12px;
	margin-bottom: 16px;
}
.footer5>ul{
	width: 1200px;
	height: 12px;
	overflow: hidden;
}
.footer5>ul>a{
	line-height: 12px;
	font-family: "微软雅黑";
	font-size: 12px;
	float: left;
	margin-right: 10px;
	color: #666666;
}
.footer5>ul>b{
	width: 1px;
	height: 12px;
    background-color: #666666;
    float: left;
    margin-right: 10px;
}