<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="staticFile/css/register.css" />
    <link rel="icon" href="staticFile/Fishes/Squid.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/Fishes/Squid.png" type="image/x-icon"/>
    <title>DownloadCenter</title>
</head>
<body>
    <div class="header">
    <div class="userInfoCon">
        <ul>
            <div>
                <i></i>
                <a href="/indexPage">首页</a>
            </div>
            <ol>
                <li>
                    <a href="/loginPage">登录</a>
                </li>
                <b></b>
                <li>
                    <a href="/userSpace">我的空间</a>
                </li>
                <b></b>
                <li>
                    <a href="/uploadPage">上传资源</a>
                </li>
                <b></b>
                <li>
                    <a href="#">待开发</a>
                    <span></span>
                </li>
                <b></b>
                <li>
                    <a href="userSpace">
                        <img id="hi" width="24px" height="24px" align="middle">
                    <span></span>
                </li>
            </ol>
        </ul>
    </div>
</div>
    <div>
        <ul>
            <li>{{.usersUploadFiles}}</li>
            <li>{{.hostFiles}}</li>
        </ul>
    </div>
    <script>
        document.getElementById("hi").src = "root/" + {{.userHeadImageDir}} + "/headImage.jpg"
    </script>
</body>
</html>