<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="staticFile/css/register.css" />
    <link rel="icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
</head>
<body style="background-color: gainsboro">
    <div style="text-align: center; width: 100%">
        <form method="post" action="/sign">
            <div>
                <label> 姓名：</label>
                <input type="text" name="UserName" >
            </div>
            <div>
                <label> 密码：</label>
                <input type="password" name="UserPwd">
            </div>
            <div>
                <label> 年龄：</label>
                <input type="number" name="UserAge">
            </div>
            <div>
                <label> 学号：</label>
                <input type="number" name="UserStuNo">
            </div>
            <div>
                <label> 邮箱：</label>
                <input type="email" name="UserEmail">
            </div>
            <div>
                <label> 宿舍号：</label>
                <input type="text" name="UserDomNo">
            </div>
            <div>
                <input type="submit" value="注册">
            </div>
        </form>
    </div>
    {{.alert}}
</body>
</html>