<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
</head>
<body style="background-color: #dfdfdf">
    <h3 style="background-color: #f2f2f2" > 登录</h3>
    <div style="text-align: center">
        <img src="staticFile/Fishes/Tuna.png" >
    </div>
        <div style="text-align: center">
            <form action="/login" method="post">
                <div>
                    <label> 学号：</label>
                    <input name="stuNo" type="number">
                </div>
                <div>
                    <label> 密码：</label>
                    <input name="pwd" type="password">
                </div>
                <div>
                    <input type="submit" value="login">
                    <a href="/indexPage"> Sign</a>
                </div>
            </form>
        </div>
    {{.alert }}
</body>
</html>