<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="staticFile/css/register.css" />
    <link rel="icon" href="staticFile/Fishes/Tuna.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/Fishes/Tuna.png" type="image/x-icon"/>
    <title>Upload</title>
</head>
<body>
    <div class="header">
    <div class="userInfoCon">
        <ul>
            <div>
                <i></i>
                <a href="/indexPage">首页</a>
            </div>
            <ol>
                <li>
                    <a href="/loginPage">登录</a>
                </li>
                <b></b>
                <li>
                    <a href="/userSpace">我的空间</a>
                </li>
                <b></b>
                <li>
                    <a href="/downloadCenter">下载资源</a>
                </li>
                <b></b>
                <li>
                    <a href="#">待开发</a>
                    <span></span>
                </li>
                <b></b>
                <li>
                    <a href="#">待开发</a>
                    <span></span>
                </li>
            </ol>
        </ul>
    </div>
</div>
    <h2>Welcome to use load model</h2>
    <div>
        <form method="post" action="/usersUpload" enctype="multipart/form-data">
            <input name="usersFile" type="file">
            <br/>
            <input name="fileUpload" type="submit" value="上传">
            <br/>
            <a href="/downloadCenter">Point here to Download files</a>
        </form>
    </div>
    <div>
        {{.ifm}}
    </div>
</body>
</html>