<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
    <style>
        *{
            padding:0;
            margin:0;
        }
        table{
            width:500px;
            margin:100px auto;
            border-collapse:collapse;/*边框合并模式*/
            text-align:center;
        }
        td,th{
            border:1px solid #333;
        }
        thead tr{
            height:40px;
            background-color: #ff5776;
        }
    </style>
</head>
<body>
{{/*
<p id="demo">aa</p>
<p id="demoMy">bb</p>*/}}
<div id="msgSender">
    <form method="post" action="/userSpace/message/sendMSG">
        <label>发送给</label>
        <input name="MSG_receiver" type="text">
        <label id="nullReceiver" style="color: red"></label>
        <br/>
        <label>内容</label>
        <input name="MSG_content" type="text" height="200px" width="300px">
        <br/>
        <input name="MSG_submit" type="submit">
    </form>
</div>
<table>
    <thead>
    <tr>MyMessage
        <th>Sender</th>
        <th>Receiver</th>
        <th>Content</th>
        <th>Read</th>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>
<script>
    /*var text =
        '{"firstName":"Elon","lastName":"Musk" }';*/
    var nullReceiver = {{.alert}}
    document.getElementById("nullReceiver").innerText = nullReceiver;
    var obp = {{.msg}}
        //window.alert(obp)
    console.log(obp)
        /*obj = JSON.parse(text);
    document.getElementById("demo").innerText  =
        obj.firstName + " " + obj.lastName;*/
    obj = JSON.parse(obp);
    /*document.getElementById("demoMy").innerText  =
        obj[0].Sender + " " + obj[0].Receiver + " " + obj[0].Content;*/
    var tbody=document.querySelector("tbody");
    for(var i=0;i<obj.length;i++)  //外面的for循环 是 行tr
    {
        var tr=document.createElement("tr");
        tbody.appendChild(tr);
        //3,往tr每一行里面创建单元格（跟数据有关系的3个单元格），td单元格的数量取决于每个对象的属性个数 for循环遍历对象 datas[i]
        if(obj.length == 0){
            var td=document.createElement("td");  //创建单元格
            tr.appendChild(td);
            td.innerHTML="No new messages";
        }
        var td=document.createElement("td");  //创建单元格
        tr.appendChild(td);
        td.innerHTML=obj[i].Sender; //把对象里面的属性值 datas[i][k]给td
        var td=document.createElement("td");  //创建单元格
        tr.appendChild(td);
        td.innerHTML=obj[i].Receiver; //把对象里面的属性值 datas[i][k]给td
        var td=document.createElement("td");  //创建单元格
        tr.appendChild(td);
        td.innerHTML=obj[i].Content; //把对象里面的属性值 datas[i][k]给td
        var td=document.createElement("td");  //创建单元格
        tr.appendChild(td);
        td.innerHTML=obj[i].READ; //把对象里面的属性值 datas[i][k]给td
    }
</script>
</body>
</html>