<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySpace</title>
    <link rel="stylesheet" href="staticFile/css/register.css" />
    <link rel="icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="staticFile/icons/icon_Dorado.ico" type="image/x-icon"/>
</head>
<body style="background-color: #dfdfdf">
    <div class="header">
        <div class="userInfoCon">
            <ul>
                <div>
                    <i></i>
                    <a href="/indexPage">首页</a>
                </div>
                <ol>
                    <li>
                        <a href="/loginPage">登录</a>
                    </li>
                    <b></b>
                    <li>
                        <a href="/uploadPage">上传中心-分享你的资源</a>
                    </li>
                    <b></b>
                    <li>
                        <a href="/downloadCenter">下载资源</a>
                    </li>
                    <b></b>
                    <li>
                        <a href="/userSpace/message">我的消息</a>
                        <span></span>
                    </li>
                    <b></b>
                    <li>
                        <a href="/userSpace">
                            <img id="hi" width="24px" height="24px" align="middle">
                        </a>
                        <span></span>
                    </li>
                </ol>
            </ul>
        </div>
    </div>
    <div style="text-align: right">
        <a>{{.finish}}% 资料完成度</a>
    </div>
    <h2 style="text-align: center">Hi  {{.name}}</h2>
    <div>
        <div style="border-style: solid;width: 500px;position: relative;left: 450px;top: 50px" >
            <label >
                系统更新日志：<br/>
                v1.0.1 测试版本第二开放版本。<br/>
                本次更新的功能：增加了浏览器Cookie认证和服务器Session认证，一次登录可保持120s登陆状态。<br/>
                Cookie + Session 服务端+客户端双重验证更加安全可靠。<br/>
                Cookie存活时间内可以不必登录，访问"<b>/</b>"目录跳转到个人空间。<br/>
            </label>
        </div>
    </div>
    <br/>
    <br/>
    <div>
        <form action="/userSpace/message/headImage" method="post" enctype="multipart/form-data">
            <input type="file" name="headImage">
            <input type="submit" value="Submit">
        </form>
    </div>
    <script>
        document.getElementById("hi").src = "root/" + {{.userHeadImageDir}} + "/headImage.jpg"
    </script>
</body>
</html>